@import "bootstrap/less/bootstrap.less";

// Override bootstrap variables

@iconSpritePath:          "img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "img/glyphicons-halflings-white.png";

@btnPrimaryBackground:              #87aade;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 20%);

a.url {
  color: #ddd;
}

.url-hostname {
  font-size: 1.2em;
  color: black;
}

.hidden {
  visibility: hidden;
}
